body {
    margin:0;
    padding:0;
    height:100%;
}

#wrap {
    height: 90%;
}
#inner-wrap {
    padding-bottom: 25px;
    height: 100%;
}

#header
{
    width: 100%;
    background-color: #C0C0C0;
    height: 100px;
    text-align: center;
    position: relative;
    top:0px;
}
.Titulo
{    
    color: white;
    font-size: 70px;
}
#footer
{
    width: 100%;
    background-color: #C0C0C0;
    height: 20px;
    position:absolute;
    bottom: 0;
    color: White;
    text-align: center;
}
#content
{
    width: 1000px;
    background-color: #F5FDEC;  
    margin: 0 auto 0 auto;
    height: 95%;
}